<div class="x_panel">
  <div class="x_title">
    <h2>Booking Files <small>BOL's, labels, etc.</small></h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
      <li><a class="close-link"><i class="fa fa-close"></i></a></li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <ul class="list-unstyled project_files">
      {% if booking.files|length %}
          {% for file in booking.files %}
            <li>{% include 'WarehouseBundle:BookingFile:file.html.twig' with {'file': file} %}</li>
          {% endfor %}
      {% else %}
          <li class="remove">There are no files associated with the booking.</li>
      {% endif %}
    </ul>
    {{ form_start(file_form,{'attr':{'class':'ajaxForm','data-appendto':'.project_files'}}) }}
        {% include 'WarehouseBundle:BookingFile:ajax_file_form.html.twig' with {'form': file_form, 'booking': booking} %}
        {{form_rest(file_form)}}
    {{ form_end(file_form) }}
  </div>
  <!-- end x_content -->
</div>
<!-- end x_panel -->