# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     "%database_host%"
    database_port:     "%database_port%"
    database_name:     "%database_name%"
    database_user:     "%database_user%"
    database_password: "%database_password%"
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  "%mailer_transport%"
    mailer_host:       "%mailer_host%"
    mailer_user:       "%mailer_user%"
    mailer_password:   "%mailer_password%"

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    firewall_host: "%firewall_host%"
    api_host: api.roveconcepts.com
    business.name: "%business_name%"

    rove_site.api.key : "%rove_site_api_key%"
    rove_site.api.url.base: "%rove_site_api_url_base%"
    rove_site.api.url.comment: "%rove_site_api_url_comment%"
    rove_site.api.url.container: "%rove_site_api_url_container%"
    rove_site.api.url.product: "%rove_site_api_url_product%"
    rove_site.api.url.productItem: "%rove_site_api_url_productItem%"
