<hr />

<div class="row">
	<div class="col-xs-12">
	  	<div class="x_panel">
	      <div class="x_title">
	        <h2><i class="fa fa-bars"></i> Incoming container/forward <small>{{ search }}</small></h2>
	        
	        <div class="clearfix"></div>
	      </div>
	      <div class="x_content">
	      	<p>
	      		Incoming ID [ <strong>{{ search }}</strong> ] was not found.
	      	</p>
	      	<p>
	      		<div class="alert alert-warning">{{ error }}</div>
	      	</p>
	      </div>
	    </div>
	</div>
</div>