<div id="booking_comment">
	<div class="form-group">
		<label class="control-label required" for="booking_comment_comment">Comment</label>
		{{ form_widget(form.comment,  {'attr': {'placeholder':'Type a new comment here', 'title':'Comment', 'class':'form-control'}}) }}
	</div>
</div>
