<table class="table table-striped">
    <tbody>
    <tr>
        <th>Containers from Ocean Freight</th>
        <td>{{ ofCount }}</td>
    </tr>
    <tr>
        <th>Orders shipped</th>
        <td>{{ orderShippedCount }}</td>
    </tr>
    <tr>
        <th>Picked up orders shipped</th>
        <td>{{ pickupOrderShippedCount }}</td>
    </tr>
    <tr>
        <th>Cartons on order changed to ship</th>
        <td>{{ cartonsOrderChangedToShip }}</td>
    </tr>
    </tbody>
</table>