{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div>
	  <div class="login_wrapper">
	    <div class="animate form login_form">
	      <section class="login_content">
	          <p>
	          	{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
	          </p>
	      </section>
	    </div>
	  </div>
	</div>
{% endblock %}
