<div id="quick-scan" class="modal bs-scan-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">

	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
	      </button>
	      <h4 class="modal-title" id="myModalLabel">Quick Scan</h4>
	    </div>
	    <div class="modal-body">
	      <form action="{{ path('scan') }}" method="POST" id="scan-form" class="ajaxForm">
	      	<div style="text-align:center;" class="scan_modes">
	      		<a class="btn btn-app active" data-mode="auto">
                  <i class="fa fa-eye"></i> Auto Mode
                </a>
                <a class="btn btn-app" data-mode="stock">
                  <i class="fa fa-cubes"></i> Stock Mode
                </a>
	      		<a class="btn btn-app" data-mode="pick">
                  <i class="fa fa-crosshairs"></i> Pick Mode
                </a>
                <a class="btn btn-app" data-mode="order">
                  <i class="fa fa-credit-card"></i> Order Mode
                </a>
                <a class="btn btn-app" data-mode="return">
                  <i class="fa fa-recycle"></i> Return Mode
                </a>
	      	</div>
	      	<div id="default_scan" class="form-group form-group-lg"> 
	      		<div class="col-xs-12">
		      		<input type="text" id="scan" name="form[scan]" required="required" class="form-control col-md-7 col-xs-12" placeholder="Scan an object!">
		      		<input type="hidden" name="form[mode]" class="_csrf_token scan_mode" value="auto" />
		      		<input type="hidden" name="form[_token]" class="_csrf_token" value="{{ csrf_token('form') }}" />
		      	</div>
	      	</div>
	      	<div id="stock_mode" class="form-group form-group-lg" style="display:none;"> 
	      		<div class="col-xs-12">
		      		{#<input type="text" id="scan" name="form[scan]" required="required" class="form-control col-md-7 col-xs-12" placeholder="Scan an object!">#}
		      		<select name="form[incoming]" class="form-control col-md-7 col-xs-12" id="stock_mode_incoming" placeholder="Select Incoming">
		      			<option value="wtf">WTF</option>
		      		</select>
		      	</div>
	      	</div>
	      </form>
	      
	      <div id="scan-result">
		      
		  </div>

	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	    </div>

	  </div>
	  <div class="loading"></div>
	</div>
</div>
