{% extends 'WarehouseBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Incoming Inventory Listing
{% endblock %}

{% block body %}

    <div class="page-title">
        <div class="title_left">
            <h3>{{ incoming.name }}'s Incoming Products <span class="glyphicon glyphicon-truck"
                                                              aria-hidden="true"></span></h3>
        </div>
        <div class="title_right"></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade in">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    {% include 'incoming/products_scanned_container_info.html.twig' with {'incoming':incoming} %}

    <!-- FORM -->
    <div id="scanned_form_wrap">
        {% include 'incoming/products_scanned_form.html.twig'
        with {'scannedProducts':scannedProducts, 'incoming':incoming,'locationDropdownList':locationDropdownList} %}
    </div>
    <!-- ENDFORM -->

    <div class="row">
        {% include 'incoming/products_scanned_packing_list.html.twig'
        with {'incoming':incoming} %}
    </div>

{% endblock %}



